# Copyright 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

menuconfig AP_PWRSEQ
	bool "AP Power sequencing support"
	default y
	help
	  Enables AP power sequencing support with
	  embedded controller. This includes normal shutdown, critical
	  shutdown and reset handling.
	  Enabling this automatically enables HAS_TASK_POWERBTN since this task
	  is required to handle power button pressed/released by user.
	  Enabling this also enables retrieving the GPIO config feature
	  so that the value of output GPIOs can be determined.

if AP_PWRSEQ

module = AP_PWRSEQ
module-str = AP power sequencing
source "subsys/logging/Kconfig.template.log_config"

config AP_PWRSEQ_DRIVER
	bool "AP Power sequencing driver support"
	select SMF
	select SMF_ANCESTOR_SUPPORT
	select EVENTS
	help
	  AP power sequence driver establishes an underlaying framework to
	  easily add or extend AP Power Sequence action handler routines, it is
	  designed to follow the zephyr's State Machine Framework (SMF).

config AP_PWRSEQ_STACK_SIZE
	int "AP pwrseq stack size (in bytes)"
	default 1024
	help
	  This option specifies the size of the stack used by the
	  AP power sequencing state machine thread handler.
	  This must be set in a board configuration. If a default
	  is set here, it cannot be overridden (if necessary), since
	  this Kconfig appears before the EC chip specific stack
	  sizes.

config AP_PWRSEQ_THREAD_PRIORITY
	int "AP pwrseq thread priority"
	default 12
	help
	  This option determines AP power sequence thread priority, this number
	  must be selected in such way thread priority is in the middle of all
	  the enabled threads.
endif
